mat-form-field {
    width: 100% !important;
}

.save-icon {
    margin-bottom: 10px !important;
    margin-right: 10px !important;
}

mat-expansion-panel {
    margin: 20px 0px;
}

mat-accordion {
    margin: 20px 0px;
}