<div class="col-sm-12 col-lg-12">
    <mat-card class="mat-elevation-z10">
        <mat-card-title #elemento>
            <h3>
                <mat-icon>security</mat-icon>
                {{ this.titulo }}
            </h3>
        </mat-card-title>
        <mat-card-content>
            <!-- Multiselect para seleccionar los permisos -->
            <app-dual-multiselect (usuarioAgregaTodos)="mostrarTodos()" (usuarioQuitaTodos)="quitarTodos()" (usuarioQuitaItem)="cancelarSeleccion($event)" (usuarioSeleccionaItem)="notificarSeleccion($event)" [titulo]="'Permisos para el Grupo'" [atributoMostrado]="'nombre'"
                [items]="permisos" #multiselect></app-dual-multiselect>

            <form [formGroup]="grupoForm">
                <div class="row">
                    <div class="col 12">
                        <!-- Form field para el nombre del grupo -->
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input autocomplete="off" #input formControlName="nombre" maxlength="16" matInput />
                            <mat-error *ngIf="grupoForm.controls.nombre.invalid">{{ mostrarError(grupoForm.controls.nombre) }}
                            </mat-error>
                            <mat-hint align="end">Max. Caracteres {{ input.value?.length || 0 }}/16</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- Paneles para los distintos multiselects -->
                    <mat-accordion multi="true">
                        <!--div con id para realizar el scroll()-->
                        <div id="#reportes">
                            <!-- Panel para multiselect de reportes -->
                            <mat-expansion-panel class="mat-elevation-z14" expanded="true" *ngIf="this.reportesSeleccionado">
                                <mat-expansion-panel-header>
                                    <mat-panel-title> Reportes </mat-panel-title>
                                    <mat-panel-description>
                                        <span> Reportes a los que el usuario tendrá acceso</span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <app-dual-multiselect #reportesMultiselect [atributoMostrado]="'nombre'" [titulo]="'Reportes del Grupo'" [items]="reportes"></app-dual-multiselect>
                            </mat-expansion-panel>
                        </div>

                        <!--div con id para realizar el scroll()-->
                        <div id="#vistas">
                            <!-- Panel para multiselect de vistas -->
                            <mat-expansion-panel class="mat-elevation-z14" expanded="true" *ngIf="this.vistasSeleccionado">
                                <mat-expansion-panel-header>
                                    <mat-panel-title> Vistas </mat-panel-title>
                                    <mat-panel-description>
                                        <span> Vistas a las que el usuario tendrá acceso</span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <app-dual-multiselect #vistasMultiselect [atributoMostrado]="'nombre'" [titulo]="'Vistas del Grupo'" [items]="vistas"></app-dual-multiselect>
                            </mat-expansion-panel>
                        </div>

                        <!--div con id para realizar el scroll()-->
                        <div id="#tableros">
                            <!-- Panel para multiselect de tableros -->
                            <mat-expansion-panel class="mat-elevation-z14" expanded="true" *ngIf="this.tablerosSeleccionado">
                                <mat-expansion-panel-header>
                                    <mat-panel-title> Tableros </mat-panel-title>
                                    <mat-panel-description>
                                        <span>Tableros a los que el usuario tendrá acceso</span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <app-dual-multiselect #tablerosMultiselect [atributoMostrado]="'nombre'" [titulo]="'Tableros del Grupo'" [items]="tableros"></app-dual-multiselect>
                            </mat-expansion-panel>
                        </div>

                        <!--div con id para realizar el scroll()-->
                        <div id="#presentaciones">
                            <!-- Panel para multiselect de presentaciones -->
                            <mat-expansion-panel expanded="true" *ngIf="this.presentacionesSeleccionado">
                                <mat-expansion-panel-header>
                                    <mat-panel-title> Presentaciones </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="mat-panel-description">
                      Presentaciones a las que el usuario tendrá acceso
                    </span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <app-dual-multiselect #presentacionesMultiselect [atributoMostrado]="'nombre'" [titulo]="'Presentaciones del Grupo'" [items]="presentaciones"></app-dual-multiselect>
                            </mat-expansion-panel>
                        </div>
                    </mat-accordion>
                </div>
                <div class="d-flex justify-content-end">
                    <button (click)="guardarGrupo()" type="submit" [disabled]="grupoForm.invalid" mat-raised-button color="primary">
            <mat-icon class="save-icon">save</mat-icon>
            Guardar
          </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>