<mat-card class="table-wrapper mat-elevation-z10">
    <mat-card-title class="table-wrapper__header">
        <div class="table-wrapper__search">
            <div class="table-wrapper__icon-wrapper">
                <mat-icon class="table-wrapper__icon">search</mat-icon>
            </div>
            <input matInput class="table-wrapper__search-input" (keyup)="applyFilter($event)">
        </div>
    </mat-card-title>

    <mat-card-content class="table__content">
        <table class="table__table" mat-table [dataSource]="dataSource" matSort>

            <!-- Columna Editar -->

            <ng-container *ngFor="let button of buttons" [matColumnDef]="button.def">
                <th class="table__table-header" mat-header-cell *matHeaderCellDef>
                    {{button.title}}
                </th>
                <td class="table__table-body" mat-cell *matCellDef="let row">
                    <button mat-icon-button [ngStyle]="{'color': button.color}" aria-label="Editar">
                            <mat-icon>{{button.icon}}</mat-icon>
                          </button>
                </td>
            </ng-container>

            <!-- Columna Nombre -->
            <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna">
                <th class="table__table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td class="table__table-body" mat-cell *matCellDef="let element"> {{element[columna]}} </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
    <div class="pagination">
        <mat-paginator [pageSizeOptions]="[5, 10, 100]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>