<div class="col-sm-12 col-lg-12">
    <mat-card class="mat-elevation-z10">
        <mat-card-title #elemento>
            <h3>
                <mat-icon>people</mat-icon>
                {{ this.titulo }}
            </h3>
        </mat-card-title>
        <mat-card-content>
            <app-dual-multiselect [items]="grupos" #multiselect></app-dual-multiselect>
            <form [formGroup]="usuarioForm">
                <div class="row">
                    <div class="col 12">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input #input formControlName="nombre" maxlength="16" matInput placeholder="Placeholder" />
                            <mat-error *ngIf="usuarioForm.controls.nombre.invalid">{{ mostrarError(usuarioForm.controls.nombre) }}
                            </mat-error>
                            <mat-hint align="end">Max. Caracteres {{ input.value?.length || 0 }}/16</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Apellido</mat-label>
                            <input formControlName="apellido" matInput placeholder="Placeholder" />
                            <mat-error *ngIf="usuarioForm.controls.apellido.invalid">{{ mostrarError(usuarioForm.controls.apellido) }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput placeholder="Placeholder" />
                            <mat-error *ngIf="usuarioForm.controls.email.invalid">{{ mostrarError(usuarioForm.controls.email) }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" (click)="guardarUsuario()" [disabled]="usuarioForm.invalid" mat-raised-button color="primary">
            <mat-icon class="save-icon">save</mat-icon>
            Guardar
          </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>