<app-layout>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <app-card-badge [icon]="'people'" [title]="'Usuarios'"></app-card-badge>
            </div>
            <div class="col-4">
                <app-card-badge [icon]="'assignment'" [title]="'Reportes'"></app-card-badge>
            </div>
            <div class="col-4">
                <app-card-badge [icon]="'insert_chart'" [title]="'Vistas'"></app-card-badge>
            </div>
            <div class="col-4">
                <app-card-badge [icon]="'tab'" [title]="'Presentaciones'"></app-card-badge>
            </div>
            <div class="col-5">
                <app-card-badge [icon]="'security'" [title]="'Permisos y Grupos'"></app-card-badge>
            </div>
        </div>
    </div>
</app-layout>