<app-layout>
    <mat-toolbar class="page-header" role="heading">
        <h1>Inicio</h1>
    </mat-toolbar>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xl-4 col-sm-12 col-xs-12">
                <app-card-badge (click)="navigate('usuarios')" [icon]="'people'" [title]="'Usuarios'"></app-card-badge>
            </div>
            <div class="col-lg-4 col-md-6 col-xl-4 col-sm-12 col-xs-12">
                <app-card-badge (click)="navigate('reportes')" [icon]="'assignment'" [title]="'Reportes'"></app-card-badge>
            </div>
            <div class="col-lg-4 col-md-6 col-xl-4 col-sm-12 col-xs-12">
                <app-card-badge (click)="navigate('vistas')" [icon]="'insert_chart'" [title]="'Vistas'"></app-card-badge>
            </div>
            <div class="col-lg-5 col-md-8 col-xl-5 col-sm-12 col-xs-12">
                <app-card-badge (click)="navigate('presentaciones')" [icon]="'tab'" [title]="'Presentaciones'"></app-card-badge>
            </div>
            <div class="col-lg-5 col-md-8 col-xl-5 col-sm-12 col-xs-12">
                <app-card-badge (click)="navigate('usuarios')" [icon]="'security'" [title]="'Grupos'"></app-card-badge>
            </div>
        </div>
    </div>
</app-layout>