<app-layout>
    <mat-toolbar class="page-header" role="heading">
        <h1>Reportes</h1>
    </mat-toolbar>
    <div class="container">

        <mat-card class="table-wrapper">

            <mat-card-title class="table-wrapper__header">
                <p *ngIf="!isShowFilterInput" class="table-wrapper__title">Reportes</p>
                <div *ngIf="isShowFilterInput" class="table-wrapper__search">
                    <div class="table-wrapper__icon-wrapper">
                        <mat-icon class="table-wrapper__icon">search</mat-icon>
                    </div>
                    <input matInput class="table-wrapper__search-input" (keyup)="applyFilter($event)">
                    <button class="table-wrapper__button" mat-mini-fab (click)="showFilterInput()">
                <mat-icon class="table-wrapper__icon">close</mat-icon>
              </button>
                </div>
                <button class="table-wrapper__button" mat-mini-fab (click)="showFilterInput()">
              <mat-icon class="table-wrapper__icon">search</mat-icon>
            </button>
            </mat-card-title>

            <mat-card-content class="table__content">
                <table class="table__table" mat-table [dataSource]="dataSource">

                    <!-- Columna Editar -->
                    <ng-container matColumnDef="editar">
                        <th mat-header-cell *matHeaderCellDef>
                            Editar
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button color="primary" aria-label="Editar">
                                <mat-icon>edit</mat-icon>
                              </button>
                        </td>
                    </ng-container>
                    <!-- Columna Eliminar -->
                    <ng-container matColumnDef="eliminar">
                        <th mat-header-cell *matHeaderCellDef>
                            Eliminar
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button color="danger" aria-label="Editar">
                                <mat-icon>delete</mat-icon>
                              </button>
                        </td>
                    </ng-container>

                    <!-- Columna Actualizar -->
                    <ng-container matColumnDef="actualizar">
                        <th mat-header-cell *matHeaderCellDef>
                            Actualizar
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button color="secondary" aria-label="Editar">
                                <mat-icon>update</mat-icon>
                              </button>
                        </td>
                    </ng-container>

                    <!-- Columna Nombre -->
                    <ng-container matColumnDef="nombre" sticky>
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Columna URL -->
                    <ng-container matColumnDef="url">
                        <th mat-header-cell *matHeaderCellDef> URL </th>
                        <td mat-cell *matCellDef="let element"> {{element.url}} </td>
                    </ng-container>

                    <!-- Columna Consulta -->
                    <ng-container matColumnDef="consulta">
                        <th mat-header-cell *matHeaderCellDef> Consulta</th>
                        <td mat-cell *matCellDef="let element"> {{element.consulta}} </td>
                    </ng-container>

                    <!-- Columna Actualizado -->
                    <ng-container matColumnDef="actualizado">
                        <th mat-header-cell *matHeaderCellDef> Actualizado </th>
                        <td mat-cell *matCellDef="let element"> {{element.actualizado}} </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
            <div class="pagination">
                <mat-paginator [pageSizeOptions]="[5, 10, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card>


    </div>


</app-layout>