<app-layout>
    <mat-toolbar class="page-header" role="heading">
        <h1>Reportes</h1>
    </mat-toolbar>
    <app-table (clickBoton)="clickEnBotonFila($event)" [data]="reportes" [displayedColumns]="displayedColumns" [columnas]="columnas" [buttons]="botonesTabla">
        <div>
            <button (click)="nuevoReporte()" class="nuevo-button" mat-raised-button color="primary">
        <span class="esconder">Nuevo Reporte</span>
        <mat-icon class="nuevo-icon">post_add</mat-icon>
      </button>
        </div>
    </app-table>
    <div #scroll class="row">
        <app-form-reportes #form></app-form-reportes>
    </div>
</app-layout>