@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";
.nuevo-usuario-button {
    background-color: #58e13d;
}

.nuevo-usuario-icon {
    margin-bottom: 5px !important;
    margin-left: 10px !important;
}