<div class="multiselect" [ngClass]="this.temaService.colorScheme === 'dark-theme' ? 'dark-color' : ''">
    <mat-toolbar class="multiselect-header">
        <span class="titulo">{{ this.titulo }}</span>
    </mat-toolbar>
    <div class="row">
        <!-- Parte izquierda del multiselect -->
        <div class="col-md-6 col-12">
            <div class="col-12">
                <button class="boton-todos" mat-raised-button (click)="seleccionarTodos()" color="primary">
          Seleccionar todos
          <mat-icon class="icon-todos">keyboard_arrow_right</mat-icon>
        </button>
                <!-- Filtro Izquierda -->
                <mat-form-field appearance="outline">
                    <mat-label>Filtrar</mat-label>
                    <input autocomplete="off" type="text" placeholder="" [formControl]="filtroIzquierda" aria-label="Filtrar" matInput />
                    <button mat-button *ngIf="filtroIzquierda.value" matSuffix mat-icon-button aria-label="Borrar" (click)="limpiarFiltro(filtroIzquierda)">
            <mat-icon>close</mat-icon>
          </button>
                </mat-form-field>

                <!-- Lista de items para seleccionar a la izquierda -->
                <div class="contenedor-items" [ngClass]="
            this.temaService.colorScheme === 'dark-theme' ? 'dark-color' : ''
          ">
                    <mat-selection-list [multiple]="false">
                        <mat-list-option class="animate__animated animate__fadeIn" (click)="seleccionarItem(item)" *ngFor="let item of filtradosIzquierda | async" [value]="item">
                            <mat-icon matListIcon>east</mat-icon>
                            <h3 matLine>{{ item[this.atributoMostrado] | titlecase }}</h3>
                            <mat-divider></mat-divider>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </div>

        <!-- Parte Derecha del Multiselect -->
        <div class="col-md-6 col-12">
            <div class="col-12">
                <button mat-raised-button class="boton-todos" (click)="quitarTodos()" color="warn">
          Quitar todos
          <mat-icon class="icon-todos">keyboard_arrow_left</mat-icon>
        </button>
                <!-- Filtro Derecha-->
                <mat-form-field appearance="outline">
                    <mat-label>Filtrar</mat-label>
                    <input autocomplete="off" type="text" placeholder="" [formControl]="filtroDerecha" aria-label="Filtrar" matInput />
                    <button mat-button *ngIf="filtroDerecha.value" matSuffix mat-icon-button aria-label="Borrar" (click)="limpiarFiltro(filtroDerecha)">
            <mat-icon>close</mat-icon>
          </button>
                </mat-form-field>
                <!-- Lista de items seleccionados -->
                <div class="contenedor-items" [ngClass]="
            this.temaService.colorScheme === 'dark-theme' ? 'dark-color' : ''
          ">
                    <mat-selection-list [multiple]="false">
                        <mat-list-option class="animate__animated animate__fadeIn" (click)="quitarItem(seleccionado)" *ngFor="let seleccionado of filtradosDerecha | async" [value]="seleccionado">
                            <mat-icon matListIcon>west</mat-icon>
                            <h3 matLine>
                                {{ seleccionado[this.atributoMostrado] | titlecase }}
                            </h3>
                            <mat-divider></mat-divider>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </div>
    </div>
</div>