@import "src/app/styles/colors";
mat-form-field {
    width: 100% !important;
}

.multiselect-header {
    height: 35px;
    font-size: 20px;
}

.contenedor-items {
    border: #e3e3e3;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    width: 100% !important;
    height: 250px !important;
    overflow-y: scroll;
    margin: 0px !important;
}

.multiselect {
    margin-top: 15px;
    margin-bottom: 15px;
    border: #e3e3e3;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
}

.boton-todos {
    margin: 5px;
}

.icon-todos {
    margin-bottom: 5px;
}

.row {
    margin: 10px;
}